# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/